<div class="head-title">
  <h1>✨ Marketplace</h1>
  <p>Discover amazing items from our community!</p>
</div>

<div class="form-container">
  <div class="form-card">
    <div class="form-header">
      <h1>Sign up for Account</h1>
      <p>Share your interest with us!</p>
    </div>

    <%= render "form", user: @user %>
  </div>
</div>